<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
   <add key="fluentmigrator" value="https://www.myget.org/F/fluent-migrator/api/v3/index.json" protocolVersion="3" />
   <add key="fluentnh-nonofficial" value="https://www.myget.org/F/fluentnh-nonofficial/api/v3/index.json" protocolVersion="3" />
 </packageSources>
</configuration>
